.b-order-modal {
    position: fixed;
    inset: 0;
    z-index: 1500;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    height: 100%;

    background: linear-gradient(180.00deg, rgba(9, 8, 16, 0.53), rgba(8.656217575073242, 7.994284629821777, 15.9375, 0.75) 100%);

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;

    @include breakpointMF(large-desktop) {
        @include noScrollbar()
    }

    &.is-open {
        visibility: visible;
        opacity: 1;
        transition: opacity 0.3s, visibility 0.3s;

        .b-order-modal__footer {
            display: flex;
        }
    }

    &__outter-wrapper {
        display: none;
        flex-direction: column;
        align-items: stretch;


        @include breakpointMF(large-desktop) {
            height: 100%;
            overflow: auto;
            padding-top: 93px;

            @include noScrollbar()
        }

        @include breakpointMF(ultra-desktop) {
            padding-top: 145px;
        }

        &.modal-open {
            display: flex;
        }

        &.animate-open {
            .b-order-modal__inner-wrapper {
                transform: translate(0%, 0%);
            }
        }
    }

    &__inner-wrapper {
        position: relative;
        z-index: 100;

        display: flex;
        flex-direction: column;
        align-items: stretch;

        flex-grow: 1;
        transform: translateY(100%);

        color: var(--color-black, #000);
        background-color: var(--color-back-2, #F2F2F2);
        transition: transform var(--transition-time);


        @include breakpointMF(large-desktop) {
            width: 100%;
            max-width: 1373px;
            margin-left: auto;
            transform: translateX(100%);

            border-top-left-radius: 20px;
            border-top-right-radius: 20px;

            @include noScrollbar()
        }

        @include breakpointMF(ultra-desktop) {
            max-width: 1807px;
        }
    }

    &__main {
        padding-bottom: 90px;
        flex-grow: 1;

        overflow: auto;
        max-height: 90vh;

        @include breakpointMF(large-desktop) {
            overflow: unset;
            max-height: unset;
            padding-bottom: 90px;
        }
    }

    &__title,
    &__header-col,
    &__header-row {
        display: flex;
        align-items: center;
    }

    &__header {
        padding: 30px 25px 30px;

        @include breakpointMF(tablet) {}

        @include breakpointMF(large-desktop) {
            margin-bottom: 30px;
            padding: 36px 30px 0;
        }
    }

    &__header-controls {
        display: flex;
        align-items: center;
        justify-content: space-between;


        @include breakpointMF(large-desktop) {
            display: none;
        }
    }

    &__header-col {
        flex-direction: row;
        align-items: baseline;
        gap: 10px;

        &.b-order-modal__header-col--tablet {
            display: none;

            @include breakpointMF(large-desktop) {
                display: flex;
            }
        }

        &.b-order-modal__header-col--mobile {
            @include breakpointMF(large-desktop) {
                display: none;
            }
        }
    }

    &__arrow-back {
        display: block;
        width: 32px;
        height: 15px;

        margin-right: 14px;

        .icon {
            display: block;
            width: 100%;
            height: 100%;

            fill: rgba(190, 190, 190, 1);
        }

        @include breakpointMF(tablet) {
            margin-right: 18px;
        }

        @include breakpointMF(large-desktop) {
            display: none;
        }
    }

    &__order-number {
        display: inline-flex;
        font-family: Ubuntu;
        font-size: 25px;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: 0%;

        @include breakpointMF(tablet) {
            font-size: 30px;
        }
    }

    &__title {
        color: rgba(0, 0, 0, 1);

        font-family: Ubuntu;
        font-size: 16px;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: 0;
        text-align: center;
    }

    &__date-value {
        display: inline-flex;
        white-space: nowrap;
        font-family: Ubuntu;
        font-weight: 400;
        line-height: 100%;

        &::before {
            content: "(от\00A0";
        }

        &::after {
            content: ")";
        }
    }

    &__date-value,
    &__order-number-text,
    &__order-number-value {
        white-space: nowrap;
        font-size: 20px;

        @include breakpointMF(tablet) {
            font-size: 30px;
        }
    }

    &__more {

        @include breakpointMF(large-desktop) {
            display: none;
        }
    }

    &__header-selects {
        display: none;

        .b-order-modal__header-row {
            gap: 20px;
            margin-top: 28px;
        }

        @include breakpointMF(large-desktop) {
            display: block;
        }
    }

    &__selects-item {
        &:last-child {
            margin-left: auto;
        }
    }

    &__select-link {
        display: grid;
        place-items: center;

        height: 30px;
        padding: 3px 10px;

        color: var(--color-text-2, #6f6f6f);
        font-family: Ubuntu;
        font-size: 16px;
        font-weight: 400;
        line-height: 100%;
        text-decoration: none;
        text-align: center;
        white-space: nowrap;

        &.b-order-modal__select-link--cancel {
            color: var(--color-orange, #FD6D20);

            @include hover {
                text-decoration: underline;
                text-decoration-thickness: 2px;
                text-underline-offset: 2px;
            }
        }

        &:not(.b-order-modal__select-link--cancel) {
            @include hover {
                color: rgba(255, 255, 255, 1);
                background: linear-gradient(269.43deg, rgba(255, 118, 46, 1), rgba(249, 89, 4, 1) 100%);
            }
        }
    }

    &__close-btn {
        position: absolute;
        top: 12px;
        left: 0;
        z-index: -1;

        display: grid;
        place-items: center flex-start;
        clip-path: polygon(50% 0.00%, 50% 100.00%, 0.00% 100.00%, 0.00% 0.00%);

        width: 116px;
        height: 40px;
        padding-left: 16px;

        transform: translateX(-50%);

        border-radius: 100px;
        background: linear-gradient(269.43deg, rgba(255, 118, 46, 1), rgba(249, 89, 4, 1) 100%);

        .icon {
            display: block;
        }

        @include breakpointMF(ultra-desktop) {
            top: 18px;
        }
    }

    &__footer {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 300;

        display: none;
        align-items: center;
        justify-content: center;
        gap: 30px;

        width: 100%;
        max-width: 1373px;
        margin-left: auto;
        height: 76px;
        padding-block: 13px;

        background: rgba(255, 255, 255, 1);
        box-sizing: border-box;

        transform: translateY(100%);
        opacity: 0;
        transition: transform 0.3s ease, opacity 0.3s ease;
    }

    &__main {
        --grid-row-value: 358px;
        display: grid;
        grid-template-columns: 100%;

        gap: 20px;

        padding-inline: 7px;

        @include breakpointMF(tablet) {
            gap: 30px;
        }

        @include breakpointMF(large-desktop) {
            grid-template-areas:
                "bo-first bo-biggest"
                "bo-first bo-biggest"
                "bo-comment bo-biggest";
            grid-template-columns: 1fr 849px;
            grid-auto-rows: var(--grid-row-value) auto auto;
            padding-inline: 30px;
        }
    }

    &__grid-column {
        display: grid;
        grid-template-columns: 1fr;

        gap: 20px;

        @include breakpointMF(tablet) {
            gap: 30px;
        }

        @include breakpointMF(large-desktop) {
            display: flex;
            flex-direction: column;
            align-items: stretch;
        }

        &.b-order-modal__grid-column--first {
            @include breakpointMF(large-desktop) {
                grid-area: bo-first;
            }
        }

        &.b-order-modal__grid-column--biggest {
            @include breakpointMF(large-desktop) {
                grid-area: bo-biggest;
            }
        }

        &.b-order-modal__grid-column--comment {
            @include breakpointMF(large-desktop) {
                grid-area: bo-comment;
                grid-row-start: 2;
            }
        }
    }


    &__order-comments {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 28px;
    }

}

.save-changes-link,
.cancel-changes-link {
    display: grid;
    place-content: center;
    place-items: center;

    height: 50px;
    padding-inline: 10px;

    font-family: Ubuntu;
    font-size: 18px;
    font-weight: 700;
    line-height: 100%;
    text-align: center;
    text-decoration: none;
}

.save-changes-link {
    color: rgba(255, 255, 255, 1);
    font-weight: 400;

    border-radius: 5px;
    background: linear-gradient(269.43deg, rgba(255, 118, 46, 1), rgba(249, 89, 4, 1) 100%);
}

.cancel-changes-link {
    color: rgba(168, 172, 179, 1);
}

.add-item-btn {
    display: grid;
    place-items: center;

    width: 100%;
    height: 47px;

    color: rgba(252, 117, 45, 1);
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;

    box-sizing: border-box;
    border: 1px solid rgba(252, 117, 45, 0.54);
    background: transparent;
    border-radius: 5px;
}

@keyframes slideFromRight {
    0% {
        transform: translateX(+100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideFromDown {
    0% {
        transform: translateY(+100%);
    }

    100% {
        transform: translateY(0);
    }
}

// delete pattern:
.b-order-modal__order-products,
.b-order-modal__order-services,
.b-order-modal__order-expenses {
    .b-order-cell {
        &:not(:has(.b-order-cell__products-list > li)) {
            height: auto;

            .b-order-cell__table {
                @include visuallyHidden();
            }
        }
    }
}

.b-remove-btn {
    display: grid;
    place-items: center;
    flex-shrink: 0;

    border: none;
    outline: none;
    background-color: transparent;
    padding: 0;
    margin: 0;

    .icon {
        display: block;
        width: 20px;
        height: 20px;
    }
}

.b-order-modal {
    &:has(input:focus-visible) {
        .b-order-modal__footer {
            transform: translateY(0);
            opacity: 1;
        }
    }
}
