.b-order-cell {
    height: 100%;

    &__body {
        height: 100%;
        padding: 15px 15px 25px;

        background-color: #fff;
        border: 1px solid rgba(234, 234, 234, 1);
        box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.05);
        box-sizing: border-box;

        @include breakpointMF(tablet) {
            padding: 12px 15px 18px;
        }
    }

    &__title {
        margin-bottom: 15px;
        padding-bottom: 10px;

        color: rgba(213, 213, 213, 1);
        font-family: Ubuntu;
        font-size: 16px;
        font-weight: 700;
        line-height: 100%;
        letter-spacing: 0;
        text-transform: uppercase;

        border-bottom: 1px solid rgba(234, 234, 234, 1);

        @include breakpointMF(tablet) {
            margin-bottom: 10px;
        }
    }

    &__title-desktop-word {
        display: none;

        @include breakpointMF(tablet) {
            display: inline;
        }
    }

    &__price-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;

        @include breakpointMF(tablet) {
            gap: 5px;
            margin-block: 5px 0;
        }
    }

    &__price-value {
        font-family: Ubuntu;
        font-size: 30px;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: 0;
        white-space: nowrap;

        &::after {
            content: "\00A0руб.";
        }

        @include breakpointMF(tablet) {
            font-size: 36px;
        }
    }

    &__price-profit {
        display: inline-block;
        color: rgba(253, 109, 32, 0.62);
        font-family: Ubuntu;
        font-size: 16px;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: 0;
        white-space: nowrap;

        &::before {
            content: "Рентабельность:\00A0";
        }

        &::after {
            content: "\00A0руб.";
        }
    }

    &__comment {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 10px;

        @include breakpointMF(tablet) {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__comment-row {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;

        @include breakpointMF(tablet) {
            gap: 20px;
        }

        &:has(.b-order-cell__comment-value) {
            @include breakpointMF(tablet) {
                flex: 1 1 100%;
            }
        }

        &:has(.b-order-cell__comment-author) {
            @include breakpointMF(tablet) {
                flex: 1 1 150px;
            }
        }
    }

    &__comment-text {
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: 0;
        text-align: left;
    }

    &__add-comment-btn {
        margin-top: 20px;
    }
}

// info grid:
.b-order-cell {
    &__grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-flow: row;
        gap: 26px;

        @include breakpointMF(tablet) {
            grid-template-columns: repeat(3, 1fr);
            grid-auto-flow: dense;
            gap: 13px 26px;
        }

        @include breakpointMF(large-desktop) {
            grid-template-columns: repeat(2, 1fr);
            gap: 10px 39px;
        }
    }

    &__col {
        &.b-order-cell__price-box {
            @include breakpointMF(large-desktop) {
                grid-row: 1 / 2;
                grid-column: 1 / 3;
            }
        }

        &.b-order-cell__col--responsible {
            @include breakpointMF(tablet) {
                grid-row: 1 / 2;
                grid-column: 2 / 3;
            }

            @include breakpointMF(large-desktop) {
                grid-row: 2 / 3;
                grid-column: 2 / 3;
            }

        }

        &.b-order-cell__col--client {
            @include breakpointMF(tablet) {
                grid-row: 2 / 3;
                grid-column: 1 / 2;

            }

            @include breakpointMF(large-desktop) {
                grid-row: 2 / 3;
                grid-column: 1 / 2;
            }
        }

        &.b-order-cell__col--phone {
            @include breakpointMF(tablet) {
                grid-row: 2 / 2;
                grid-column: 3 / 4;
            }

            @include breakpointMF(large-desktop) {
                grid-row: 3 / 4;
                grid-column: 1 / 2;
            }
        }

        &.b-order-cell__col--city {
            @include breakpointMF(tablet) {
                grid-row: 2 / 2;
                grid-column: 2 / 3;
            }

            @include breakpointMF(large-desktop) {
                grid-row: 3 / 4;
                grid-column: 2 / 3;
            }
        }
    }
}

// input's styles:
.b-order-cell {
    &__input-wrapper {
        position: relative;

        display: flex;
        flex-direction: column;

        &>label {
            position: absolute;
            top: 0;
            left: 7px;

            display: grid;
            place-content: center;

            height: 14px;
            padding-inline: 3px;
            transform: translateY(-50%);

            color: rgba(171, 171, 171, 1);
            font-family: Ubuntu;
            font-size: 10px;
            font-weight: 400;
            line-height: 100%;
            letter-spacing: 0;
            text-align: left;

            background: rgba(255, 255, 255, 1);

            @include breakpointMF(tablet) {
                position: static;

                display: block;
                margin-bottom: 5px;
                padding-inline: none;
                transform: unset;

                font-size: 14px;

                background-color: transparent;

                &::after {
                    content: ":";
                }
            }

            &.b-order-cell__label--hide-on-tablet {
                @include hide-on-tablet()
            }
        }

        &>textarea,
        &>input {
            width: 100%;
            height: 100%;
            padding: 3px 8px 11px;

            color: rgba(0, 0, 0, 1);

            font-family: Inter;
            font-size: 14px;
            font-weight: 400;
            line-height: 100%;
            letter-spacing: 0;

            background: rgba(255, 255, 255, 1);
            box-sizing: border-box;
            border: 1px solid rgba(219, 219, 219, 1);
            outline: none;

            @include placeholder {
                color: rgba(0, 0, 0, 1);

                font-family: Inter;
                font-size: 14px;
                font-weight: 400;
                line-height: 100%;
                letter-spacing: 0;
            }

            &:disabled {
                background: rgba(255, 255, 255, 1);
                border-color: rgba(219, 219, 219, 1);
            }

            @include breakpointMF(tablet) {
                height: 26px;
                padding: 3px 4px 4px;

                font-size: 16px;

                background: rgba(250, 250, 250, 1);
            }
        }

        &>textarea {
            min-height: 72px;
            height: auto;
        }

        &.b-order-cell__input-wrapper--center-number {
            &>input {
                text-align: center;
            }
        }
    }
}

// head's keys:
.b-order-cell {
    &__table-head {
        display: none;
        align-items: center;
        gap: 8px;
        margin-bottom: 20px;

        @include breakpointMF(tablet) {
            display: flex;
        }
    }

    &__table-column {
        flex: 1 1 100%;

        &>span {
            color: rgba(171, 171, 171, 1);
            font-family: Ubuntu;
            font-size: 14px;
            font-weight: 400;
            line-height: 100%;
            letter-spacing: 0;
        }

        &.b-order-cell__table-column--article {
            @include breakpointMF(tablet) {
                flex-basis: 83px;
            }
        }

        &.b-order-cell__table-column--naming {
            @include breakpointMF(tablet) {
                flex-basis: 224px;
            }

            &.b-order-cell__table-column--all-grow {
                @include breakpointMF(tablet) {
                    flex-basis: 536px;
                }
            }
        }

        &.b-order-cell__table-column--purchase {
            @include breakpointMF(tablet) {
                flex-basis: 90px;
            }
        }

        &.b-order-cell__table-column--discount {
            @include breakpointMF(tablet) {
                flex-basis: 60px;
            }
        }

        &.b-order-cell__table-column--quantity {
            @include breakpointMF(tablet) {
                flex-basis: 52px;
            }
        }

        &.b-order-cell__table-column--price {
            @include breakpointMF(tablet) {
                flex-basis: 77px;
            }
        }

        &.b-order-cell__table-column--master {
            @include breakpointMF(tablet) {
                flex-basis: 214px;
            }
        }

        &.b-order-cell__table-column--costprice {
            @include breakpointMF(tablet) {
                flex-basis: 113px;
            }
        }

        &.b-order-cell__table-column--empty {
            opacity: 0;
            visibility: hidden;
            pointer-events: none;

            @include breakpointMF(tablet) {
                flex-basis: 23px;
                margin-left: auto;
            }
        }
    }

    &__products-list {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 20px;

        @include breakpointMF(tablet) {
            gap: 10px;
        }
    }

    &__product {
        &:not(:first-child) {
            padding-top: 16px;
            border-top: 1px solid rgba(234, 234, 234, 1);

            @include breakpointMF(tablet) {
                padding-top: unset;
                border-top: none;
            }
        }
    }
}
