.b-orders-item {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    padding: 22px 21px 29px 21px;

    border: 1px solid var(--color-border-2, #CFCFCF);
    background-color: var(--color-white, #fff);
    box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.05);
    border-radius: 20px;

    color: var(--color-black, #000);
    font-family: Ubuntu;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @include breakpointMF(tablet) {
        padding: 22px 36px 29px;
    }

    @include breakpointMF(laptop) {
        padding: 22px 25px 23px;
    }

    &__body {
        position: relative;

        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 20px;

        flex-grow: 1;
    }

    &__dropdown {
        position: relative;
    }

    &__select {
        position: absolute;
        top: -10px;
        left: -10px;
        z-index: 300;

        display: none;
        padding-top: 60px;

        background-color: var(--color-white, #fff);
        box-shadow: 0 0 15px 8px rgba(0, 0, 0, 0.05);
        border: 1px solid #E1E1E1;
        border-radius: 10px;

        @include breakpointMF(tablet) {
            top: -14px;
            left: -12px;
        }

        &>ul {
            display: flex;
            flex-direction: column;

            &>li {
                &>a {
                    display: block;
                    padding: 10px 20px;

                    color: #000;
                    font-family: Ubuntu;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    text-decoration: none;

                    transition-property: color, background;
                    transition-duration: 0.3s;
                    transition-timing-function: ease-in-out;

                    background-color: var(--color-white, #fff);
                    border-radius: 10px;

                    @include hover {
                        color: #FD6D20;
                        background-color: #F7F7F7;
                    }
                }
            }
        }
    }

    &__button {
        position: relative;
        z-index: 200;

        display: grid;
        place-items: center;
        place-content: center;

        grid-template-columns: 1fr;
        grid-template-rows: 1fr;

        width: 35px;
        height: 35px;
        flex-shrink: 0;

        background: linear-gradient(269deg, #FF762E 0.63%, #F95904 99.59%);
        border-radius: 100%;
        -webkit-tap-highlight-color: transparent;

        &>span {
            grid-column: 1 / 2;
            grid-row: 1 / 2;

            display: block;
            width: 19px;
            height: 3px;
            flex-shrink: 0;
            transform-origin: center;

            background-color: var(--color-white, #fff);
            transition: all 0.3s ease;

            &:is(.b-orders-item__button-plus) {
                transform: rotate(90deg);
            }
        }

        &.b-orders-item__button--active,
        &.js-dropdown-btn--active {
            z-index: 500;

            background: transparent;
            transform: rotate(45deg);

            &>span {
                width: 20px;
                background-color: #FC752D;
            }

            &+.b-orders-item__select {
                display: block;
            }
        }

        &.b-work-orders__fixed-add-button {
            width: 55px;
            height: 55px;

            border-radius: 20px;

            &>span {
                width: 31px;
                height: 3px;
            }
        }
    }

    &__center {
        display: flex;
        flex-direction: column;
        align-items: stretch;

        flex-grow: 1;
    }

    &__order-products,
    &__order-info {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 10px;

        @include breakpointMF(tablet) {
            gap: 20px;
        }
    }

    &__order-info {
        margin-bottom: 10px;
        padding-bottom: 10px;

        border-bottom: 2px solid #E6E6E6;

        @include breakpointMF(tablet) {
            margin-bottom: 20px;
            padding-bottom: 20px;
        }
    }

    &__order-client-city {
        display: none;
        white-space: nowrap;

        @include breakpointMF(tablet) {
            display: block;
            margin-left: auto;
        }
    }

    &__order-client-data {
        display: contents;
    }

    &__order-row {
        display: flex;
        align-items: center;
        gap: 20px;

        &--wrap {
            @include breakpointMF(laptop) {
                flex-wrap: wrap;
                align-items: flex-start;
                gap: 8px;
            }

            .b-orders-item__order-number {
                @include breakpointMF(laptop) {
                    flex-grow: 1;
                    flex-basis: 100%;
                }
            }
        }
    }

    &__order-products {
        gap: 0;
    }

    &__order-product-item {
        margin-bottom: 30px;

        &:nth-child(n+3) {
            display: none;
        }

        @include breakpointMF(tablet) {
            margin-bottom: 40px;
        }
    }

    &__order-client {
        padding-right: 60px;
        @include maxSizeText(1);
    }

    &__product-article,
    &__order-client-surname,
    &__order-number {
        font-weight: 700;
    }

    &__order-number {
        color: inherit;

        @include breakpointMF(laptop) {
            text-decoration: none;
        }
    }

    &__order-client-surname {
        position: absolute;
        top: 0;
        right: 0;
    }

    &__order-product-data {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__product-quantity,
    &__product-price {
        display: none;

        @include breakpointMF(tablet) {
            display: block;
        }
    }

    &__product-desc {
        max-width: 40ch;
        font-weight: 300;

        @include maxSizeText(2);
    }

    &__product-quantity {
        text-align: center;
    }

    &__product-price {
        min-width: 8ch;
        text-align: right;
    }

    &__final {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 10px;

        margin-top: auto;
        padding-top: 20px;

        border-top: 2px solid #E6E6E6;

        @include breakpointMF(tablet) {
            gap: 20px;
        }
    }

    &__profit,
    &__price {
        font-weight: 700;

        &-value {
            font-weight: 400;
        }
    }

    &__link {
        position: absolute;
        inset: 0;
        z-index: 100;

        display: none;
        margin-top: auto;

        color: #FD6D20;
        text-align: center;
        font-family: Ubuntu;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration: none;
        cursor: pointer;

        @include breakpointMF(tablet) {
            position: static;
            display: block;
        }
    }

    &__link-inner {
        display: none;
        align-items: flex-end;
        gap: 18px;

        text-underline-position: above;
        text-underline-offset: 2px;

        @include hover {
            text-decoration: underline;
        }

        @include breakpointMF(tablet) {
            display: flex;
        }
    }
}
