.b-product {
    &__flex-wrapper {
        display: grid;
        grid-template-columns: minmax(87px, 1fr) 57px 53px 78px 17px;
        gap: 15px 10px;

        @include breakpointMF(tablet) {
            display: flex;
            align-items: center;
            gap: 8px;
        }
    }

    &__cell {
        @include breakpointMF(tablet) {
            flex: 1 1 100%;
        }

        &.b-product__cell--article {

            @include breakpointMF(tablet) {
                flex-basis: 83px;
            }

            &.b-product__cell--article--hidden {
                display: none;
                opacity: 0;

                @include breakpointMF(tablet) {
                    display: block;
                }
            }

            &:not(.b-product__cell--article--hidden) {
                grid-column: 1 / 6;
                grid-row: 1 / 2;

                &~.b-product__cell--delete {
                    grid-row: 2 / 3;
                }
            }
        }

        &.b-product__cell--purchase {
            @include breakpointMF(tablet) {
                flex-basis: 90px;
            }
        }

        &.b-product__cell--discount {
            @include breakpointMF(tablet) {
                flex-basis: 60px;
            }
        }

        &.b-product__cell--quantity {
            @include breakpointMF(tablet) {
                flex-basis: 52px;
            }
        }

        &.b-product__cell--naming {
            grid-column: 1 / 5;

            @include breakpointMF(tablet) {
                flex-basis: 224px;
            }
        }

        &.b-product__cell--price {
            @include breakpointMF(tablet) {
                flex-basis: 77px;
            }
        }

        &.b-product__cell--delete {
            place-items: center;
            place-content: center;
            grid-column: 5 / 6;
            grid-row: 1 / 2;

            @include breakpointMF(tablet) {
                flex-basis: 23px;
                margin-left: auto;
            }
        }
    }

    &__article-value {
        font-family: Ubuntu;
        font-size: 16px;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: 0;
    }

    &__add-item {
        position: relative;

        max-width: calc(100% - 27px);
        margin-top: 20px;

        @include breakpointMF(tablet) {
            max-width: 100%;
        }
    }

    &__add-item-btn {
        &.js-dropdown-btn--active {
            &~.b-select__dropdown {
                display: block;
            }
        }
    }

    &__desc {
        font-family: Ubuntu;
        font-size: 16px;
        font-weight: 400;
        line-height: 100%;
        text-align: left;

        @include maxSizeText(2);
    }
}

.b-remove-btn {
    display: grid;
    place-items: center;
    width: 17px;
    height: 17px;
    flex-shrink: 0;

    border: none;
    outline: none;
    background-color: transparent;

    .icon {
        display: block;
        width: 16px;
        height: 16px;
    }
}
