.b-service {
    display: flex;
    align-items: center;
    gap: 15px;


    &__grid-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 0.5fr);
        grid-template-rows: repeat(3, auto);
        gap: 19px 10px;
        flex: 1 1 auto;

        @include breakpointMF(tablet) {
            grid-template-columns: minmax(426px, 1fr) minmax(85px, 1fr) minmax(85px, 1fr);
            grid-template-rows: repeat(2, auto);
            gap: 20px;
        }


        @include breakpointMF(large-desktop) {
            grid-template-columns: minmax(296px, 1fr) minmax(213px, 1fr) minmax(85px, 1fr) minmax(85px, 1fr);
            grid-template-rows: auto;
        }

        &.b-expenses__grid-wrapper {
            @include breakpointMF(tablet) {
                grid-template-columns: minmax(531px, 1fr) minmax(85px, 1fr);
                grid-template-rows: repeat(1, auto);
                gap: 20px;
            }


            @include breakpointMF(large-desktop) {
                grid-template-columns: minmax(670px, 1fr) minmax(85px, 1fr);
                grid-template-rows: auto;
            }
        }
    }

    &__cell {
        @include breakpointMF(tablet) {
            flex: 1 1 100%;
        }

        &.b-service__cell--naming {
            grid-column: 1 / 3;
            grid-row: 1 / 2;

            @include breakpointMF(tablet) {
                grid-column: 1 / 2;
                grid-row: 1 / 2;
            }

            &.b-expenses__cell--naming {
                @include breakpointMF(tablet) {}
            }
        }

        &.b-service__cell--master {
            grid-column: 1 / 3;
            grid-row: 2 / 3;

            @include breakpointMF(tablet) {
                grid-column: 1 / 2;
                grid-row: 2 / 3;
            }

            @include breakpointMF(large-desktop) {
                grid-row: 1 / 2;
                grid-column: 2 / 3;
            }
        }


        &.b-service__cell--costprice {
            grid-column: 1 / 2;

            @include breakpointMF(tablet) {
                grid-column: 2 / 3;
                grid-row: 1 / 2;
            }

            @include breakpointMF(large-desktop) {
                grid-column: 3 / 4;
                grid-row: 1 / 2;
            }

            input {
                @include breakpointMF(tablet) {
                    text-align: center;
                }
            }
        }

        &.b-service__cell--price {
            grid-column: 2 / 3;

            @include breakpointMF(tablet) {
                grid-column: 3 / 4;
                grid-row: 1 / 2;
            }

            @include breakpointMF(large-desktop) {
                grid-column: 4 / 5;
                grid-row: 1 / 2;
            }

            input {
                @include breakpointMF(tablet) {
                    text-align: center;
                }
            }

            &.b-expenses__cell--price {
                grid-column: 1 / 3;

                @include breakpointMF(tablet) {
                    grid-column: 2 / 3;
                }
            }
        }

        &.b-product__cell--delete {
            grid-column: 3 / 4;
            grid-row: 1 / 2;
            place-items: center;
            place-content: center;

            @include breakpointMF(tablet) {
                flex-basis: 23px;
                margin-left: auto;
            }
        }
    }

    &__select {
        position: relative;

        @include breakpointMF(tablet) {
            max-width: 252px;
        }
    }

    &__select-label {
        position: absolute;
        top: 0;
        left: 7px;

        display: grid;
        place-content: center;

        height: 14px;
        padding-inline: 3px;
        transform: translateY(-50%);

        color: rgba(171, 171, 171, 1);
        font-family: Ubuntu;
        font-size: 12px;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: 0;
        text-align: left;
        white-space: nowrap;

        background: rgba(255, 255, 255, 1);

        @include breakpointMF(tablet) {
            position: static;

            display: block;
            margin-bottom: 12px;
            padding-inline: none;
            transform: unset;

            font-size: 14px;

            background-color: transparent;

            &::after {
                content: ":";
            }
        }

        @include breakpointMF(large-desktop) {
            display: none;
        }
    }
}
