.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    white-space: nowrap;
    border: 0;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
}

.disable-scroll {
    overflow: hidden;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

[class*="--show-on-mobile"] {
    @include breakpointMF(tablet) {
        display: none;
    }
}

body,
h4,
p,
hr,
ul {
    margin: 0;
    padding: 0;
}

ul {
    li {
        list-style: none;
    }
}

* {
    box-sizing: border-box;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}
